.plank_container
    position: fixed
    top: 0
    width: 100%
    background: white
    display: flex
    justify-content: space-between
    z-index: 10000
    height: 50px

    .plank_text
        font-size: 18px
        padding: 10px

    .plank_image
        height: 20px
        float: right
        cursor: pointer
        padding-top: 14px